body {
  background-color: rgba(46, 134, 222,0.5);
}
.app-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1px;
  grid-template-areas:
"h h"
"n c";
  max-width: 1300px;
  margin: 0 auto;

}

.app-wrapper--content {
  grid-area: c;
  background-color: aqua;
}


