.nav {
    grid-area: n;
    background-color: blueviolet;
    padding: 20px;
}

.item a{
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}

.item a.active {
    color: gold;
}

.friends {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}